{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/base_html/www/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/base_html/www/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/base_html/www/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/base_html/www/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/base_html/www/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/base_html/www/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/base_html/www/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/base_html/www/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/base_html/www/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/base_html/www/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/base_html/www/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/base_html/www/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/base_html/www/ico/favicon-16x16.png">
    <link rel="manifest" href="/base_html/www/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/base_html/www/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199963774-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-199963774-5');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/base_html/www/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/base_html/www/css/styles.css?v=2.3">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <script src="/base_html/www/js/owl.carousel.min.js"></script>
    <script src="/base_html/www/js/acc.js"></script>
    <script type="text/javascript" src="/base_html/www/js/all.min.js?v=3"></script>
    <script src="//www.socialintents.com/api/socialintents.1.3.js#2c9fa6c374042f2801740c24704e1710" async="async"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199963774-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-199963774-6');
    </script>
  </body>
</html>
